.sans-serif, button, .button, input, textarea, select, body {
  font-family: sans-serif;
}

.monospace {
  font-family: monospace;
}

html {
  --background: #fff;
  --primary: #000;
  color: #000;
  scrollbar-color: var(--primary) transparent;
}
@media (prefers-color-scheme: dark) {
  html {
    --background: #000;
    --primary: #fff;
    color: #fff;
  }
}

body {
  background: #fff;
  background: var(--background, #fff);
  color: #000;
  color: var(--primary, #000);
  line-height: 1.5;
  margin: 0 auto;
  max-width: 700px;
  padding: 10px;
  word-break: break-word;
  overflow-wrap: break-word;
}
body * {
  max-width: 100%;
}

a, hr {
  color: #000;
  color: var(--primary, #000);
}

*::selection {
  color: #fff;
  color: var(--background, #fff);
  background: #000;
  background: var(--primary, #000);
}

header {
  padding: 10px 0;
}
header * {
  margin-top: 0;
  margin-bottom: 0;
}

h1 a, h2 a {
  text-decoration: none;
}

button, .button, input, textarea, select {
  border: 1px solid #000;
  border: 1px solid var(--primary, #000);
  border-radius: 0;
  background: #fff;
  background: var(--background, #fff);
  color: #000;
  color: var(--primary, #000);
  padding: 5px 10px;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5;
  outline: none;
}
button:focus, .button:focus, input:focus, textarea:focus, select:focus {
  outline: 3px solid #000;
  outline: 3px solid var(--primary, #000);
}

form input, form textarea, form select {
  margin-bottom: 5px;
}
form textarea {
  display: block;
}

blockquote {
  border-left: 5px solid #000;
  border-left: 5px solid var(--primary, #000);
  padding-left: 20px;
  margin-left: 0;
}

pre {
  padding: 10px;
  border: 1px solid #000;
  border: 1px solid var(--primary, #000);
  white-space: pre-wrap;
}

mark, :not(pre) > code {
  font-size: 1rem;
}

/* Initial values for Chroma */
.c-chroma {
  background: #fff;
  color: #000;
}

code {
  font-family: monospace;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  white-space: nowrap;
  overflow-x: auto;
}

tr, td, th {
  border: 1px solid #000;
  border: 1px solid var(--primary, #000);
  padding: 5px;
}

footer {
  padding: 10px 0;
}
footer * {
  margin-top: 0;
  margin-bottom: 0;
}

details summary > *:first-child {
  display: inline;
}

.border-top, footer {
  border-top: 1px solid #000;
  border-top: 1px solid var(--primary, #000);
}

.border-bottom, header {
  border-bottom: 1px solid #000;
  border-bottom: 1px solid var(--primary, #000);
}

.p, .actions, table {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

.hide {
  display: none;
}

.in {
  display: inline;
}

.fw, img, audio, form.fw, form.fw input:not([type]), form.fw input[type=submit], form.fw input[type=button], form.fw input[type=text], form.fw input[type=email], form.fw input[type=url], form.fw input[type=password], form.fw input[type=file], form.fw textarea, form.fw select {
  width: 100%;
}

.ct {
  text-align: center;
}

.h400p {
  height: 400px;
}

.captchaimg {
  background-color: #fff;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.turn-around {
  transform: rotate(180deg);
}

.egg-anim {
  transition: transform 2s ease;
}

.invert, #announcement *, #announcement, mark, :not(pre) > code {
  color: #fff;
  color: var(--background, #fff);
  background: #000;
  background: var(--primary, #000);
}
.invert::selection, #announcement ::selection, #announcement::selection, mark::selection, :not(pre) > code::selection {
  color: #000;
  color: var(--primary, #000);
  background: #fff;
  background: var(--background, #fff);
}

.preview {
  padding: 10px;
  border: 1px solid #000;
  border: 1px solid var(--primary, #000);
  margin-bottom: 5px;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.actions * {
  text-align: center;
}

#map {
  height: 400px;
}
#map * {
  max-width: unset;
}

#announcement {
  padding: 5px;
  text-align: center;
}
#reactions button:focus, #reactions .button:focus {
  outline: none;
  box-shadow: none;
}

@media print {
  html {
    --background: #fff;
    --primary: #000;
    color: #000;
  }
  body {
    font-family: serif;
    max-width: inherit;
  }
  nav,
  .actions,
  #tts,
  #interactions,
  #tor,
  #announcement {
    display: none;
  }
  a {
    text-decoration: none;
  }
  .e-content a[href]:after {
    content: " [" attr(href) "]";
  }
}
