{{ define "author" }}
    {{ with .User }}
        <div class="p-author h-card hide">
            {{ with .Picture }}<data class="u-photo" value="{{ . }}"></data>{{ end }}
            {{ if .Name }}
            <a href="{{ with .Link }}{{ . }}{{ else }}/{{ end }}" class="p-name u-url" rel="me">{{ .Name }}</a>
            {{ end }}
        </div>
    {{ end }}
{{ end }}