{{ define "title" }}
  <title>{{ with .Data.Title }}{{ . }}{{end}}</title>
{{ end }}

{{ define "main" }}
  <main>
      {{ with .Data.Title }}<h1>{{ . }}</h1>{{ end }}
      {{ with .Data.Message }}{{ md . }}{{ end }}
  </main>
{{ end }}

{{ define "error" }}
    {{ template "base" . }}
{{ end }}