{{ define "footer" }}
    <footer>
        {{ with index .Blog.Menus "footer" }}
            <nav>{{ range $i, $item := .Items }}{{ if ne $i 0 }} &bull; {{ end }}<a href="{{ $item.Link }}">{{ mdtitle $item.Title }}</a>{{ end }}
            </nav>
        {{ end }}
        <p translate="no">&copy; {{ dateformat now "2006" }} {{ with .User.Name }}{{ . }}{{ else }}{{ mdtitle .Blog.Title }}{{ end }}</p>
        {{ if .TorUsed }}
            <p id="tor">🔐 {{ string .Blog.Lang "connectedviator" }}</p>
        {{ else }}
            {{ if .TorAddress }}
                <p id="tor">🔓 <a href="{{ .TorAddress }}">{{ string .Blog.Lang "connectviator" }}</a> <a href="https://www.torproject.org/" target="_blank" rel="nofollow noopener noreferrer">{{ string .Blog.Lang "whatistor" }}</a></p>
            {{ end }}
        {{ end }}
    </footer>
{{ end }}