{{ define "header" }}
  <header>
    <h1><a href="{{ blogrelative .Blog "/" }}" rel="home" title="{{ .Blog.Title }}">{{ .Blog.Title }}</a></h1>
      {{ with .Blog.Description }}<p><i>{{ . }}</i></p>{{ end }}
      <nav>
        {{ with menu .Blog "main" }}
            {{ range $i, $item := .Items }}{{ if ne $i 0 }} &bull; {{ end }}<a href="{{ $item.Link }}">{{ $item.Title }}</a>{{ end }}
        {{ end }}
      </nav>
  </header>
{{ end }}