{{ define "title" }}
  <title>{{ blog.Title }}</title>
{{ end }}

{{ define "main" }}
  <main>
      {{ range $i, $post := .Posts }}
          {{ include "summary" . }}
      {{ end }}
      {{ if .HasPrev }}
        <p><a href="{{ .Prev }}">Prev</a></p>
      {{ end }}
      {{ if .HasNext }}
        <p><a href="{{ .Next }}">Next</a></p>
      {{ end }}
  </main>
{{ end }}

{{ define "index" }}
    {{ template "base" . }}
{{ end }}