{{ define "micropub" }}
    {{ with micropub.Path }}
        <link rel="micropub" href="{{ . }}" />
    {{ end }}
    <link rel="authorization_endpoint" href="/indieauth" />
    <link rel="token_endpoint" href="/indieauth/token" />
{{ end }}