{{ define "photosummary" }}
  <article>
      {{ with p .Data "title" }}<h2>{{ . }}</h2>{{ end }}
      {{ with .Data.Published }}<p>{{ dateformat . "02. Jan 2006" }}</p>{{ end }}
      {{ range $i, $photo := ( ps .Data .Blog.Photos.Parameter ) }}
          {{ md ( printf "![](%s)" $photo ) }}
      {{ end }}
    <p>{{ summary .Data }}</p>
    <a href="{{ .Data.Path }}">{{ string .Blog.Lang "view" }}</a>
  </article>
  <hr>
{{ end }}