{{ template "base" . }}

{{ define "title" }}
  <title>{{ with title . }}{{ . }} - {{end}}{{ blog.Title }}</title>
{{ end }}

{{ define "main" }}
  <main class=h-entry>
    <article>
        {{ with title . }}<h1 class=p-name>{{ . }}</h1>{{ end }}
      <div class=e-content>{{ md .Content }}</div>
    </article>
  </main>
{{ end }}