{{ define "postactions" }}
    <div class="p flex" id="post-actions">
	<a href="https://www.addtoany.com/share#url={{ absolute .Data.Path }}{{ with title .Data }}&title={{ . }}{{ end }}" target="_blank" rel="nofollow noopener noreferrer" class="button invert">{{ string .Blog.Lang "share" }}</a>&nbsp;
	<button id="speakBtn" class="invert" style="display: none;"></button>
	<script>const speakText = "{{ string .Blog.Lang "speak" }}";const stopSpeakText = "{{ string .Blog.Lang "stopspeak" }}";</script>
	<script defer src="{{ asset "js/speak.js" }}"></script>
</div>
{{ end }}