{{ define "summary" }}
  <article>
      {{ with p .Data "title" }}<h2>{{ . }}</h2>{{ end }}
      {{ if .Data.Published }}<p>{{ longDate .Data.Published .Blog.Lang }}</p>{{ end }}
    <p>{{ summary .Data }}</p>
    <a href="{{ .Data.Path }}">{{ string .Blog.Lang "view" }}</a>
  </article>
  <hr>
{{ end }}