{{ define "tripdetails" }}
    {{ if .Data.HasTrip }}
    {{ $trip := (rendertrip .Data) }}
    {{ if $trip.HasPoints }}
    {{ $lang := .Blog.Lang }}
    <p>{{ with $trip.Name }}<b>{{ . }}</b> {{ end }}{{ with $trip.Kilometers }}🏁 {{ . }} {{ string $lang "kilometers" }} {{ end }}{{ with $trip.Hours }}⌛ {{ . }}{{ end }}</p>
    <div class="p" id="map" data-paths="{{ $trip.PathsJSON }}" data-tiles="/tiles/{z}/{x}/{y}.png"></div>
    <script defer src="{{ asset "js/geotrip.js" }}"></script>
    {{ end }}
    {{ end }}
{{ end }}