$colors: (
  background: #fff,
  background-dark: #000,
  primary: #000,
  primary-dark: #fff
);

@use "sass:map";

@mixin color($property, $varName) {
  #{$property}: map.get($colors, $varName);
  #{$property}: var(--#{$varName}, map.get($colors, $varName));
}

@mixin color-border($property, $val1, $val2, $varName) {
  #{$property}: #{$val1} #{$val2} map.get($colors, $varName);
  #{$property}: #{$val1} #{$val2} var(--#{$varName}, map.get($colors, $varName));
}

@mixin lightmode {
  --background: #{map.get($colors, background)};
  --primary: #{map.get($colors, primary)};
  color: #000;
}

@mixin darkmode {
  --background: #{map.get($colors, background-dark)};
  --primary: #{map.get($colors, primary-dark)};
  color: #fff;
}
